---
import LinkedInIcon from './LinkedInIcon.astro';
import TwitchIcon from './TwitchIcon.astro';
import TwitterIcon from './TwitterIcon.astro';
import { socialLinks } from '../data/data';
import GithubIcon from './GithubIcon.astro';
const icon = 'ᾰ';

const about = {
	name: { first: 'Allan', last: 'Lalangan' },
	title: 'Front End Engineer',
	skills: ['HTML', 'CSS', 'JavaScript'],
};
---

<section class='mx-4 flex min-h-screen flex-col justify-center'>
	<figure class='mb-4 flex items-baseline'>
		<a
			href='/'
			class='w-fit font-times text-8xl font-bold italic text-yellow-200'
		>
			{icon}
		</a>
		<span class='flex items-center font-times text-yellow-200'>©</span>
	</figure>
	<article class='flex flex-col items-baseline md:mx-12 md:flex-row'>
		<h2 class='mb-12 flex items-baseline'>
			<span></span>
			<span
				class='h-12 w-12 border-b-2 border-r-2 border-yellow-200 font-heading text-4xl font-light -tracking-widest'
			>
				0.
			</span>
		</h2>
		<p class='text-xl sm:mx-4 lg:w-2/3 xl:w-1/2'>
			I'm Allan. A Software Developer with a background in Art & Design. I build
			full-stack web applications and specialize in JavaScript and front-end
			frameworks. You can catch my weekly coding livestreams on Twitch.
		</p>
	</article>
	<nav
		class='mt-8 flex flex-col-reverse font-heading text-xl sm:mx-4 md:mx-12 md:flex-row md:items-center'
	>
		<ul class='my-8 flex flex-col md:my-0'>
			<li class='flex transition-all hover:translate-x-2'>
				<a href='#projects' class='w-full' href=''>Projects</a>
			</li>
			<li class='flex transition-all hover:translate-x-2'>
				<a
					class='w-full'
					target='_blank'
					rel='noreferrer noopener'
					href='https://allanla.hashnode.dev/'>Blog</a
				>
			</li>
			<!-- <li class='flex transition-all hover:translate-x-2'>
				<a class='w-full' href=''>Links</a>
			</li> -->
		</ul>
		<aside
			class='mb-8 grid grid-cols-4 justify-evenly border border-yellow-200 text-yellow-200 sm:w-fit md:ml-12 md:mb-0'
		>
			{
				socialLinks?.map(({ name, url }, i, arr) => (
					<a
						aria-label={name}
						title={name}
						target='_blank'
						rel='noreferrer noopener'
						class={`col-span-2 flex flex-col items-center border border-yellow-200 py-4 px-4 transition hover:bg-yellow-200 hover:text-gray-900 sm:col-span-1 sm:w-32 ${
							(i === 0 && 'md:border-r') ||
							(i === arr.length - 1 && 'md:border-l') ||
							'md:border-x'
						}`}
						href={url}
					>
						{(name.toLowerCase() === 'github' && (
							<GithubIcon
								size='2.5rem'
								styles='mb-2 flex w-32 items-center justify-center'
							/>
						)) ||
							(name.toLowerCase() === 'twitter' && (
								<TwitterIcon
									size='2.5rem'
									styles='mb-2 flex w-32 items-center justify-center'
								/>
							)) ||
							(name.toLowerCase() === 'twitch' && (
								<TwitchIcon
									size='2.5rem'
									styles='mb-2 flex w-32 items-center justify-center'
								/>
							)) ||
							(name.toLowerCase() === 'linkedin' && (
								<LinkedInIcon
									size='2.5rem'
									styles='mb-2 flex w-32 items-center justify-center'
								/>
							))}

						<span class='capitalize'>{name}</span>
					</a>
				))
			}
		</aside>
	</nav>
</section>
